<h1 mat-dialog-title>Editar Colaborador</h1>

<form #f="ngForm" ngNativeValidate (ngSubmit)="actualizarColaborador(f)">

    <div mat-dialog-content>
        <div class="row">
            <div class="col s6">
                <mat-form-field>
                    <mat-label>Tipo de Documento</mat-label>
                    <mat-select name="tipo_documento" [(ngModel)]="data.type_document" required>
                        <mat-option *ngFor="let tipo of tipos" [value]="tipo._id">
                            {{tipo.name}}
                        </mat-option>
                        
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col s6">
                <mat-form-field>
                    <mat-label>Nro de Documento</mat-label>
                    <input type="number" matInput placeholder="Nro de Documento" [(ngModel)]="data.document" required name="email">
                </mat-form-field>
            </div>
    
            <div class="col s6">
                <mat-form-field>
                    <mat-label>Nombres</mat-label>
                    <input type="text" matInput placeholder="Nombres" [(ngModel)]="data.name" required name="name">
                </mat-form-field>
            </div>
    
            <div class="col s6">
                <mat-form-field>
                    <mat-label>Apellido Paterno</mat-label>
                    <input type="text" matInput placeholder="Apellido Paterno" [(ngModel)]="data.apaterno" required name="apaterno">
                </mat-form-field>
            </div>

            <div class="col s6">
                <mat-form-field>
                    <mat-label>Apellido Materno</mat-label>
                    <input type="text" matInput placeholder="Apellido Materno" [(ngModel)]="data.amaterno" required name="amaterno">
                </mat-form-field>
            </div>

            <div class="col s6">
                <mat-form-field>
                    <mat-label>Puesto de Trabajo</mat-label>
                    <input type="text" matInput placeholder="Puesto de Trabajo" [(ngModel)]="data.job" required name="job">
                </mat-form-field>
            </div>

            <div class="col s6">
                <mat-form-field>
                    <mat-label>Teléfono</mat-label>
                    <input type="tel" matInput placeholder="Teléfono" [(ngModel)]="data.telephone" required name="telephone">
                </mat-form-field>
            </div>

            <div class="col s6">
                <mat-form-field>
                    <mat-label>Fecha de nacimiento</mat-label>
                    <input matInput [matDatepicker]="picker" placeholder="Fecha de nacimiento" [(ngModel)]="data.birth_date" required name="birth_date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="col s6">
                <mat-form-field>
                    <mat-label>Clasificación clínica</mat-label>
                    <mat-select name="clasification" [(ngModel)]="data.clasification" required>
                        <mat-option value="LEVE">
                            L (Leve)
                        </mat-option>
                        <mat-option value="MODERADA">
                            M (Moderada)
                        </mat-option>
                        <mat-option value="SEVERA">
                            S (Severa)
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col s6">
                <mat-form-field>
                    <mat-label>Departamento</mat-label>
                    <mat-select name="departamento" required [(ngModel)]="data.departamento" (selectionChange)="seleccionarDepartamento()">
                        <mat-option [value]="departamento.id_ubigeo" *ngFor="let departamento of departamentos">
                            {{departamento.nombre_ubigeo}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col s6">
                <mat-form-field>
                    <mat-label>Provincias</mat-label>
                    <mat-select name="provincia" required [(ngModel)]="data.provincia" (selectionChange)="seleccionarProvincia()">
                        <mat-option [value]="provincia.id_ubigeo" *ngFor="let provincia of provincias">
                            {{provincia.nombre_ubigeo}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col s6">
                <mat-form-field>
                    <mat-label>Distritos</mat-label>
                    <mat-select name="district" required [(ngModel)]="data.district">
                        <mat-option [value]="distrito.id_ubigeo" *ngFor="let distrito of distritos">
                            {{distrito.nombre_ubigeo}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col s6">
                <mat-form-field>
                    <mat-label>Dirección</mat-label>
                    <input type="text" matInput placeholder="Dirección" [(ngModel)]="data.address" required name="address">
                </mat-form-field>
            </div>

            <div class="col s6">
                <mat-form-field>
                    <mat-label>Empresa/Otra/Contratista</mat-label>
                    <input type="text" matInput placeholder="Empresa/Otra/Contratista" [(ngModel)]="data.company" required name="company">
                </mat-form-field>
            </div>

            <div class="col s6">
                <mat-form-field>
                    <mat-label>Fecha de inicio</mat-label>
                    <input disabled matInput [matDatepicker]="picker1" placeholder="Fecha de inicio" [(ngModel)]="data.start_date" name="start_date">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
    
            <div class="col s6">
                <mat-form-field>
                    <mat-label>Procedencia autodiagnóstico</mat-label>
                    <mat-select disabled [(ngModel)]="data.origin" name="origin">
                        <mat-option value="SOSPECHOSO">
                            Sospechoso
                        </mat-option>
                        <mat-option value="PROBABLE">
                            Probable
                        </mat-option>
                        <mat-option value="SOSPECHOSO_PROBABLE">
                            Sospechoso probable
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col s6">
                <mat-form-field>
                    <mat-label>Confirmación del caso</mat-label>
                    <mat-select disabled name="confirmation" [(ngModel)]="data.confirmation">
                        <mat-option value="SIN_CONFIRMAR">
                            Sin Confirmar
                        </mat-option>
                        <mat-option value="SIN_CONFIRMAR">
                            Sin Confirmar
                        </mat-option>
                        <mat-option value="CONFIRMADO_SINTOMATICO">
                            Confirmado sintomático
                        </mat-option>
                        <mat-option value="CONFIRMADO_ASINTOMATICO">
                            Confirmado asintomático
                        </mat-option>
                        <mat-option value="DESCARTADO">
                            Descartado
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col s6">
                <label id="example-radio-group-label" >Control</label>
                <br>
                <mat-radio-group aria-label="SELECCIONE UNA OPCIÓN" [(ngModel)]="data.control" name="control">
                    <mat-radio-button color="primary" value="SI" selected>SI</mat-radio-button>
                    &nbsp;&nbsp;&nbsp;
                    <mat-radio-button color="primary" value="NO">NO</mat-radio-button>
                </mat-radio-group>
            </div>

        </div>
    </div>
    
    <div mat-dialog-actions>
        <button mat-button (click)="cancelar()" type="button">Cancelar</button>
        <button mat-stroked-button cdkFocusInitial type="submit" color="primary">Guardar</button>
    </div>

</form>