<h1 mat-dialog-title>Seguimientos Clínico del colaborador - Registro Diario</h1>

<div class="container">
    <div class="row">
        <div class="col s12 m3">
            <mat-form-field>
                <mat-label>Tipo de documento</mat-label>
                <mat-select [(ngModel)]="tipo" name="tipo" disabled>
                    <mat-option *ngFor="let t of tipos" [value]="t._id">
                        {{t.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col s12 m3">
            <mat-form-field> 
                <mat-label>Nro. Documento</mat-label>
                <input matInput placeholder="Nro. Documento" [(ngModel)]="documento" name="documento" disabled>
            </mat-form-field>
        </div>
        <div class="col s12 m3">
            <mat-form-field> 
                <mat-label>Nombres</mat-label>
                <input matInput placeholder="Nombres" [(ngModel)]="nombres" name="nombres" disabled>
            </mat-form-field>
        </div>
        <div class="col s12 m3">
            <mat-form-field> 
                <mat-label>Apellidos</mat-label>
                <input matInput placeholder="Apellidos" [(ngModel)]="apellidos" name="apellidos" disabled>
            </mat-form-field>
        </div>
    </div>
    <div class="row">

        <div style="float: right; margin-top: 13px;">
            <button type="button" (click)="agregarSeguimiento()" mat-stroked-button color="primary">AGREGAR SEGUIMIENTO</button>
        </div>
        
        <div>
            <div style="background-color: white; width: auto; display: inline-block;">
                <mat-form-field appearance="outline" style="margin: 0px; padding: 0px;"> 
                    <mat-label>Búsqueda</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Busqueda" style="background-color: white;">
                    <mat-icon matSuffix>search</mat-icon>
        
                </mat-form-field>
                
            </div>
            <div style="display: inline-block;">
                <button mat-raised-button style="margin-left: 15px;" type="button">BUSCAR</button>
        
            </div>
        </div>

        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z4 overflow-x">
            
            <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns; let i = index">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{(i == 0)? column : column | date: 'dd/MM/yyyy, h:mm a' }} </th>
                <td mat-cell *matCellDef="let element"> {{element[i]}} </td>
            </ng-container>
            
            <!-- <ng-container matColumnDef="accion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10px;"> Accion </th>
                <td mat-cell *matCellDef="let row" [style.color]="row.color"> 
                    <button mat-mini-fab color="primary" (click)="editarSeguimiento(row)" aria-label="Example icon button with a delete icon">
                        <mat-icon>edit</mat-icon>
                    </button>
                    
                </td>
            </ng-container> -->
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="6">No se encontraron registros</td>
            </tr>
        </table>

        <mat-paginator [pageSize]="40" [pageSizeOptions]="[40]" class="mat-elevation-z4"></mat-paginator>
    
    </div>
</div>

<div mat-dialog-actions>
    <button mat-raised-button (click)="cancelar()">Cancelar</button>
</div>

