<h1 mat-dialog-title>Editar Seguimiento</h1>

<form #f="ngForm" ngNativeValidate (ngSubmit)="actualizarSeguimiento(f)">

    <div>
        <div class="row">
            <div class="col s3">
                <mat-form-field>
                    <mat-label>Tipo de Documento</mat-label>
                    <mat-select name="tipo_documento" [(ngModel)]="patient.type_document" required disabled>
                        <mat-option *ngFor="let tipo of tipos" [value]="tipo._id">
                            {{tipo.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col s3">
                <mat-form-field class="example-full-width">
                    <mat-label>Nro. de Documento</mat-label>
                    <input matInput placeholder="Nro. de Documento" type="number" name="numdoc" [(ngModel)]="patient.document" disabled>
                </mat-form-field>
            </div>

            <div class="col s3">
                <mat-form-field class="example-full-width">
                    <mat-label>Nombres</mat-label>
                    <input matInput placeholder="Nombres" type="text" name="name" [(ngModel)]="patient.name" disabled>
                </mat-form-field>
            </div>

            <div class="col s3">
                <mat-form-field class="example-full-width">
                    <mat-label>Apellidos</mat-label>
                    <input matInput placeholder="Apellidos" type="text" name="lastname" [(ngModel)]="patient.apaterno" disabled>
                </mat-form-field>
            </div>
            
            <div class="col s3">
                <mat-form-field>
                    <mat-label>Procedencia</mat-label>
                    <mat-select name="type_document" value="origin" [(ngModel)]="patient.origin" disabled>
                        <mat-option value="DNI">
                            Sospechosa
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col s3">
                <mat-form-field>
                    <mat-label>Fecha</mat-label>
                    <input matInput [matDatepicker]="picker" placeholder="Fecha" required name="updated_at" [(ngModel)]="data.follow.date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="col s6">
                <button mat-stroked-button color="primary" type="button" (click)="abrirConfirmacion()">Confirmación de casos</button>
            </div>
        </div>
        
        <mat-divider></mat-divider>

        <div class="row">
            <div class="col s12">
                <h3>1. Funciones vitales</h3>
            </div>

            <div class="col s3">
                <p>
                    <mat-checkbox color="primary" class="example-margin" name="cough" [(ngModel)]="data.follow.seguimiento_pot">Seguimiento P o T</mat-checkbox>
                </p>
            </div>
            <div class="col s3">
                <mat-form-field class="example-full-width">
                    <mat-label>PA</mat-label>
                    <input matInput placeholder="PA" type="number" name="pa" [(ngModel)]="data.follow.pa">
                </mat-form-field>   
            </div>
    
            <div class="col s3">
                <mat-form-field class="example-full-width">
                    <mat-label>FC</mat-label>
                    <input matInput placeholder="FC" type="number" name="fc" [(ngModel)]="data.follow.fc">
                </mat-form-field>   
            </div>
    
            <div class="col s3">
                <mat-form-field class="example-full-width">
                    <mat-label>FR</mat-label>
                    <input matInput placeholder="FR" type="number" name="fr" [(ngModel)]="data.follow.fr">
                </mat-form-field>   
            </div>
    
            <div class="col s3">
                <mat-form-field class="example-full-width">
                    <mat-label>Temperatura</mat-label>
                    <input matInput placeholder="Temperatura" type="number" name="temperature" [(ngModel)]="data.follow.temperatura">
                </mat-form-field>   
            </div>
    
            <div class="col s3">
                <mat-form-field class="example-full-width">
                    <mat-label>Pulsioximetria</mat-label>
                    <input matInput placeholder="Pulsioximetria" type="number" name="pulso" [(ngModel)]="data.follow.pulsioximetria">
                </mat-form-field>   
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <h3>2. Signos y síntomas</h3>
            </div>
            <div class="col s3">
                <p>
                    <mat-checkbox color="primary" class="example-margin" name="tos" [(ngModel)]="data.follow.tos">Tos</mat-checkbox>
                </p>
            </div>

            <div class="col s3">
                <p>
                    <mat-checkbox color="primary" class="example-margin" name="dolor_garganta" [(ngModel)]="data.follow.dolor_garganta">Dolor de garganta</mat-checkbox>
                </p>
            </div>

            <div class="col s3">
                <p>
                    <mat-checkbox color="primary" class="example-margin" name="congestion_nasal" [(ngModel)]="data.follow.congestion_nasal">Congestion nasal</mat-checkbox>
                </p>
            </div>

            <div class="col s3">
                <p>
                    <mat-checkbox color="primary" class="example-margin" name="fiebre" [(ngModel)]="data.follow.fiebre">Fiebre</mat-checkbox>
                </p>
            </div>

            <div class="col s3">
                <p>
                    <mat-checkbox color="primary" class="example-margin" name="malestar_general" [(ngModel)]="data.follow.malestar_general">Malestar general</mat-checkbox>
                </p>
            </div>

            <div class="col s3">
                <p>
                    <mat-checkbox color="primary" class="example-margin" name="dificultad_respiratoria" [(ngModel)]="data.follow.dificultad_respiratoria">Dificultad respiratoria</mat-checkbox>
                </p>
            </div>

            <div class="col s3">
                <p>
                    <mat-checkbox color="primary" class="example-margin" name="diarrea" [(ngModel)]="data.follow.diarrea">Diarrea</mat-checkbox>
                </p>
            </div>

            <div class="col s3">
                <p>
                    <mat-checkbox color="primary" class="example-margin" name="nausea_vomito" [(ngModel)]="data.follow.nausea_vomito">Nausea / Vomito</mat-checkbox>
                </p>
            </div>

            <div class="col s3">
                <p>
                    <mat-checkbox color="primary" class="example-margin" name="cefalea" [(ngModel)]="data.follow.cefalea">Cefalea</mat-checkbox>
                </p>
            </div>

            <div class="col s3">
                <p>
                    <mat-checkbox color="primary" class="example-margin" name="irritabilidad_confusion" [(ngModel)]="data.follow.irritabilidad_confusion">Irritabilidad / Confusión</mat-checkbox>
                </p>
            </div>

            <div class="col s3">
                <p>
                    <mat-checkbox color="primary" class="example-margin" name="dolor_muscular" [(ngModel)]="data.follow.dolor_muscular">Dolor muscular</mat-checkbox>
                </p>
            </div>

            <div class="col s3">
                <p>
                    <mat-checkbox color="primary" class="example-margin" name="dolor_abdominal" [(ngModel)]="data.follow.dolor_abdominal">Dolor abdominal</mat-checkbox>
                </p>
            </div>

            <div class="col s3">
                <p>
                    <mat-checkbox color="primary" class="example-margin" name="dolor_pecho" [(ngModel)]="data.follow.dolor_pecho">Dolor de pecho</mat-checkbox>
                </p>
            </div>

            <div class="col s3">
                <p>
                    <mat-checkbox color="primary" class="example-margin" name="dolor_articulaciones" [(ngModel)]="data.follow.dolor_articulaciones">Dolor en articulaciones</mat-checkbox>
                </p>
            </div>

            <div class="col s6">
                <mat-form-field class="example-full-width">
                    <mat-label>Otro (especificar)</mat-label>
                    <input matInput placeholder="Otro (especificar)" type="text" name="otro_signo_sintoma" [(ngModel)]="data.follow.otro_signo_sintoma">
                </mat-form-field>   
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <h3>3. Signos de alarma</h3>
            </div>
            <div class="col s4">
                <p>
                    <mat-checkbox color="primary" class="example-margin" name="disnea" [(ngModel)]="data.follow.disnea">Disnea</mat-checkbox>
                </p>
            </div>  
            <div class="col s4">
                <p>
                    <mat-checkbox color="primary" class="example-margin" name="taquipnea" [(ngModel)]="data.follow.taquipnea">Taquipnea (>= 22 pm)</mat-checkbox>
                </p>
            </div> 
            <div class="col s4">
                <p>
                    <mat-checkbox color="primary" class="example-margin" name="saturacion_oxigeno" [(ngModel)]="data.follow.saturacion_oxigeno">Saturación de oxígeno < 92%</mat-checkbox>
                </p>
            </div>   
            <div class="col s4">
                <p>
                    <mat-checkbox color="primary" class="example-margin" name="alteracion_conciencia" [(ngModel)]="data.follow.alteracion_conciencia">Alteración de la conciencia</mat-checkbox>
                </p>
            </div>      
        </div>

        <div class="row">
            <div class="col s12">
                <h3>4. Tratamiento Específico</h3>
            </div>
            <div class="col s4">
                <p>
                    <mat-checkbox color="primary" class="example-margin" name="fosfato_cloroquina" [(ngModel)]="data.follow.fosfato_cloroquina">Fosfato de cloriquina</mat-checkbox>
                </p>
            </div>  
            <div class="col s4">
                <p>
                    <mat-checkbox color="primary" class="example-margin" name="hidorxicloroquina" [(ngModel)]="data.follow.hidorxicloroquina">Hidorxicioroquina</mat-checkbox>
                </p>
            </div> 
            <div class="col s4">
                <p>
                    <mat-checkbox color="primary" class="example-margin" name="azitromicina" [(ngModel)]="data.follow.azitromicina">Hidorxicioroquina + Azitromicina</mat-checkbox>
                </p>
            </div>   
            <div class="col s12">
                <mat-form-field class="example-full-width">
                    <mat-label>Otro (especificar)</mat-label>
                    <input matInput placeholder="Otro (especificar)" type="text" name="otro_tratamiento_especifico" [(ngModel)]="data.follow.otro_tratamiento_especifico">
                </mat-form-field>   
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <h3>5. Tratamiento Antimicrobiano</h3>
            </div>
            <div class="col s6">
                <mat-form-field class="example-full-width">
                    <mat-label>Antibiótico (especificar)</mat-label>
                    <input matInput placeholder="Antibiótico (especificar)" type="text" name="antibiotico" [(ngModel)]="data.follow.antibiotico">
                </mat-form-field>   
            </div>  
            <div class="col s6">
                <mat-form-field class="example-full-width">
                    <mat-label>Antiviral (especificar)</mat-label>
                    <input matInput placeholder="Antiviral (especificar)" type="text" name="antiviral" [(ngModel)]="data.follow.antiviral">
                </mat-form-field>   
            </div> 
        </div>

        <div class="row">
            <div class="col s12">
                <h3>6. Anticoagulación profiláctico</h3>
            </div>
            <div class="col s3">
                <mat-form-field class="example-full-width">
                    <mat-label>Enoxaparima mg</mat-label>
                    <input matInput placeholder="Enoxaparima mg" type="text" name="onoxapirina" [(ngModel)]="data.follow.onoxapirina">
                </mat-form-field>   
            </div>  
            <div class="col s9">
                <mat-form-field class="example-full-width">
                    <mat-label>Otro (especificar)</mat-label>
                    <input matInput placeholder="Otro (especificar)" type="text" name="otro_anticoagulatorio" [(ngModel)]="data.follow.otro_anticoagulatorio">
                </mat-form-field>   
            </div> 
        </div>

        <div class="row">
            <div class="col s12">
                <h3>7. Otra especificación</h3>
            </div>
            <div class="col s12">
                <mat-form-field class="example-full-width">
                    <mat-label>Especificar medicamento</mat-label>
                    <input matInput placeholder="Especificar medicamento" type="text" name="especificar_medicamento" [(ngModel)]="data.follow.especificar_medicamento">
                </mat-form-field>   
            </div>  
        </div>

        <div class="row">
            <div class="col s12">
                <h3>Evolucion</h3>
            </div>
            <div class="col s6">
                <mat-form-field>
                    <mat-label>Estado</mat-label>
                    <mat-select name="estado_evolucion" [(ngModel)]="data.follow.estado_evolucion">
                        <mat-option value="L">
                            Leve
                        </mat-option>
                        <mat-option value="M">
                            Moderado
                        </mat-option>
                        <mat-option value="S">
                            Severo
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>  
        </div>

        <div class="row">
            <div class="col s12">
                <h3>Condicion de egreso</h3>
            </div>
            <div class="col s6">
                <mat-form-field>
                    <mat-label>Condición de egreso</mat-label>
                    <mat-select name="condicion_egreso" [(ngModel)]="data.follow.condicion_egreso">
                        <mat-option value="A">
                            Recuperado
                        </mat-option>
                        <mat-option value="B">
                            Traslado Hospital
                        </mat-option>
                        <mat-option value="C">
                            Traslado UCI
                        </mat-option>
                        <mat-option value="D">
                            Fallecido
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>  
        </div>
        
        <div class="row">
            <div class="col s12">
                <button type="button" mat-stroked-button color="primary">Consulta</button>
                &nbsp;
                <button type="button" mat-stroked-button color="primary">G. Temperaturas</button>
            </div>
        </div>
        
        <br>

        <mat-divider></mat-divider>
    </div>
    
    <div mat-dialog-actions class="bottom-sheet">
        <button mat-button (click)="cancelar()" type="button">Cancelar</button>
        <button mat-stroked-button cdkFocusInitial type="submit" color="primary">Guardar Cambios</button>
    </div>

</form>

