<div class="tiles">

  <span style="color: #546e7a; font-size: 11px;">INICIO</span>

  <h2 style="margin-top: 10px;">Dashboard</h2>

</div>

<div class="row">
  <div class="col s3">
    <mat-card>
      <div style="display: flex">
        <div style="width: 70%;">
          <span style="color: #546e7a; font-size: 11px;">TOTAL COLABORADORES</span>
          <h2 style="margin-top: 10px;margin-bottom: 10px;">{{patients}}</h2>
        </div>
        <div style="width: 30%;">
          <button type="button" style="background-color: darkgreen; margin-top: 6px;" mat-fab aria-label="Example icon-button with a heart icon">
            <mat-icon>attach_money</mat-icon>
          </button>
        </div>
      </div>
      
    </mat-card>
  </div>
  <div class="col s3">
    <mat-card>
      <div style="display: flex">
        <div style="width: 70%;">
          <span style="color: #546e7a; font-size: 11px;">TOTAL ADMINISTRADORES</span>
          <h2 style="margin-top: 10px;margin-bottom: 10px;">{{users}}</h2>
        </div>
        <div style="width: 30%;">
          <button type="button" style="background-color: blueviolet; margin-top: 6px;" mat-fab aria-label="Example icon-button with a heart icon">
            <mat-icon>person</mat-icon>
          </button>
        </div>
      </div>
      
    </mat-card>
  </div>
  <div class="col s3">
    <mat-card>
      <div style="display: flex">
        <div style="width: 70%;">
          <span style="color: #546e7a; font-size: 11px;">TOTAL USUARIOS</span>
          <h2 style="margin-top: 10px;margin-bottom: 10px;">{{total}}</h2>
        </div>
        <div style="width: 30%;">
          <button style="background-color: brown; margin-top: 6px;" mat-fab aria-label="Example icon-button with a heart icon">
            <mat-icon>layers</mat-icon>
          </button>
        </div>
      </div>
      
    </mat-card>
  </div>
  <div class="col s3">
    <mat-card>
      <div style="display: flex">
        <div style="width: 70%;">
          <span style="color: #546e7a; font-size: 11px;">TOTAL SEGUIMIENTOS</span>
          <h2 style="margin-top: 10px;margin-bottom: 10px;">{{follows}}</h2>
        </div>
        <div style="width: 30%;">
          <button type="button" style="background-color: cornflowerblue; margin-top: 6px;" mat-fab aria-label="Example icon-button with a heart icon">
            <mat-icon>extension</mat-icon>
          </button>
        </div>
      </div>
      
    </mat-card>
  </div>
  
</div>